.DS_Store
*.terraform.lock.hcl
*.terraform/
*.terraform/*
*.idea*
.idea

# Crash log files
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
